.header
    .full__container
        .header__items
            .header__item.soc 
                .icon__items
                    .icon__item
                        img(src="/img/instagram.png", alt="")
                    .icon__item
                        img(src="/img/twitter.png", alt="")
                    .icon__item
                        img(src="/img/facebook-f.png", alt="")
            .header__item.title Hipsum Blog 
            .header__item.search 
                .search__items
                    .search__item
                        img(src="/img/search.png", alt="")
                    .search__item
                        input(type="submit", class="btn-subsk" value="Subscribe")