.footer
    .container
        .footer__items
            .footer__link
                .footer__link-item
                    a(href="#") Latest Posts
                    a(href="#") Popular Posts
                .footer__link-item
                    a(href="#") Search
                    a(href="#") Contact Information
                .footer__link-item
                    a(href="#") Privacy Policy
                    a(href="#") Terms of Use
            .soc
                include ./../sections/soc-icons.pug
    .footer__copyraight   © Copyright 2019. All rights reserved.
